@font-face {
    font-family: 'YS-Text-Cond-Bold';
    src: url('./assets/fonts/YS-Text-Cond/YS\ Text\ Cond-Bold.ttf') format('truetype');

}

@font-face {
    font-family: 'YS-Text-Cond-Regular';
    src: url('./assets/fonts/YS-Text-Cond/YS\ Text\ Cond-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'YS-Text-Cond-Medium';
    src: url('./assets/fonts/YS-Text-Cond/YS\ Text\ Cond-Medium.ttf') format('truetype');

}

@font-face {
    font-family: 'YS-Text-Cond-Light';
    src: url('./assets/fonts/YS-Text-Cond/YS\ Text\ Cond-Light.ttf') format('truetype');

}

@font-face {
    font-family: 'YS-Text-Cond-Black';
    src: url('./assets/fonts/YS-Text-Cond/YS\ Text\ Cond-Black.ttf') format('truetype');

}